@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  font-family: 'Poppins',sans-serif;
  margin: 0;
  background: #f2eeee;
}

/* APPLICATION PAGE */
.container{
  margin-left: 100px !important;
  margin-right: 100px !important;
  position: relative;
  left: 15%;
  right: 15%;
}

form{
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  margin: 15px;
}

.profile{
  background-color: #fff;
  padding: 25px;
  border-radius: 8px;
  margin: 15px;
}


